/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

html, .tui-editor-contents{
	font-family: 'LotteMartDream', sans-serif !important;
}

/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.flex {
	display: flex;
}

.flex-jc-s{
  justify-content:flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-e {
	justify-content: flex-end;
}
.flex-ai-c {
	align-items: center;
}

.flex-column{
  flex-direction:column;
}

.flex-grow-1{
  flex-grow:1;
}

.flex-jc-a{
  justify-content:space-around;
}

.flex-jc-e{
  justify-content:flex-end;;
}


.flex-wrap{
  flex-wrap:wrap;
}

.min-height-100vh{
  min-height:100vh;
}

.min-height-60vh{
  min-height:60vh;
}

.min-height-45vh{
  min-height:45vh;
}
.con {
	margin-left: auto;
	margin-right: auto;
}

.height-100p {
	height: 100%;
}

.width-100p {
	width: 100%;
}

.text-align-center{
  text-align:center;
}

.block{
  display:block;
}

.none{
	display:none;
}

.hover-underline:hover{
  text-decoration:underline;
}

.bd-green {
	border: 10px solid green;
}

.bg-red {
	background-color: red;
}

.bg-blue {
	background-color: blue;
}

.bg-white{
	background-color:white;
}


.bg-body{
	background: linear-gradient( to bottom, rgba(255,156,158)
, white	 );
}

.bd-home{
	border: 20px solid #8f6156;
	border-radius:10px;
}

.bd-body-box{
	border: 10px solid #d9534f;
	border-radius:10px;
}
/* 커스텀 */
.con-min-width {
	min-width: 1200px;
  padding:0 20px;
}

.con {
	width: 1200px;
}

.bd-box{
	box-sizing:border-box;
}

/* 로고 시작 */
.logo>img{
  width:400px;
  height:100px;
}

/* 로고 끝 */

/* 로고바 시작 */
.logo-bar{
	height:140px;
}
/* 로고바 끝 */

/*메뉴바 시작*/
.menu-bar{
  color:#d9534f;
}
/*메뉴바 끝*/

/*메뉴바 메뉴1시작*/

.menu-bar__menu-1 ul>li{
  position:relative;
}

.menu-bar__menu-1>ul>li{
  flex:1 0 0;
  border-bottom:5px solid;
}

.menu-bar__menu-1 ul>li>a{
  font-size:1.2rem;
  font-weight:bold;
  padding:20px 0;
}

.menu-bar__menu-1>ul>li>a{
  border-radius:10px 10px 0 0;
}

.menu-bar__menu-1 ul>li:hover>a{
  background-color:rgba(255,156,158);
  color:white;
}
.menu-bar__menu-1>ul>li:hover>a{
  background-color:inherit;
}

.menu-bar__menu-1>ul ul{
  display:none;
  position:absolute;
  top:100%;
  width:100%;
  left:-10px;
  border-radius:0 0 20px 20px;
  border:5px solid #d9534f;
  border-top:5px solid rgba(255,170,172);
  z-index:10;
}

.menu-bar__menu-1>ul>li:hover>ul{
  background-color:rgba(255,170,172);
  color:#d9534f;
  display:block;
}

.menu-bar__menu-1>ul ul>li:last-child>a{
  border-radius:0 0 10px 10px;
}

/*메뉴바 메뉴1끝*/

/*타이틀바 시작*/
.title-bar{
  margin:30px 0;
   color:#d9534f;
}
/*타이틀바 끝*/

/*홈바디 시작*/
#wrapper{
  width:600px;
  margin:50px auto;
  height:600px;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;  
}

#slider-wrap{
  width:999.9px;
  height:600px;
  position:relative;
  overflow:hidden;
  left:-200px;
}

#slider-wrap ul#slider{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  width:999.9px;
  height:600px; 
}

#slider-wrap ul#slider li > div{
  position:absolute;
  top:20px;
  left:35px;  
}

#slider-wrap ul#slider li > div h3{
  font-size:36px;
  text-transform:uppercase; 
}

#slider-wrap ul#slider li > div span{
  font-size:21px;
}

#slider-wrap ul#slider li img{
  display:block;
  width:100%;
  height: 100%;
}

#slider-wrap ul#slider>li:first-child{
  color:rgba(217,83,79,0.7);
}

/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer; 
  background:rgba(0,0,0,0.1);
  z-index:100;
  
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3); 
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
  top: 30px; 
  right:35px; 
  width:auto;
  position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  margin-top:570px;
  margin-left: auto; 
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
}

#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#d9534f;
  opacity:0.5;
  position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px; 
}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1); 
}
/*홈바디 끝*/

.toast-ui-codepen-plugin-wrap > iframe {
  width:100%;
}

/*최신글 리스트 시작*/
.home-content__newArticle__title-bar{
  color:#d9534f;
  border-top:5px solid ;
  padding:20px 0;
}
:root{
  --newArticle-list__cell-reg-date__width:220px;
  --newArticle-list__cell-hit__width:80px;
   --newArticle-list__cell-title:calc(100% - var(--newArticle-list__cell-reg-date__width) - var(--newArticle-list__cell-hit__width));
}
.newArticle-list>*>div>div{
  text-align:center;
}
.newArticle-list>.main>div>div:first-child{
  text-align:left;
}
.newArticle-list__cell-title {
  width:var(--newArticle-list__cell-title);
}

.newArticle-list__cell-reg-date{
  width:var(--newArticle-list__cell-reg-date__width);
}

.newArticle-list__cell-hit{
  width:var(--newArticle-list__cell-hit__width);
}

.newArticle-list>header{
 border-bottom:solid 2.5px #d9534f;
border-top:solid 4px #d9534f;
  background-color:rgba(217,83,79,0.4);
}
.newArticle-list>.main>div{
  border-top:solid 2px #d9534f;
}
.newArticle-list>*>div>div{
  padding:10px;
}
.newArticle-list>.main>div:last-child{
  border-bottom:solid 4px #d9534f;
}
/*최신글 리스트 끝*/

/*게시물 검색 시작*/
.article-search>form{
  display:flex;
  justify-content:flex-end;
  padding:10px;
}
/*게시물 검색 끝*/

/*게시물리스트 시작*/

:root{
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-hit__width:70px;
  --article-list__cell-recommand__width:70px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-hit__width) - var(--article-list__cell-recommand__width));
}

.article-list-box{
  padding:20px;
  border-radius:10px;
}

.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date{
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-hit {
  width:var(--article-list__cell-hit__width);
}
.article-list__cell-recommand {
  width:var(--article-list__cell-recommand__width);
}
.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}

.article-list>header{
  border:solid #d9534f;
  background-color:#d9534f;
}

.article-list>header>div>div{
  position:relative;
  color:white;
}


.article-list>*>div>div{
  text-align:center;
  padding:10px 0;
  box-sizing:border-box;
}

.article-list>header>div>div:not(:last-child)::after{
  content:"";
  width:1px;
  height:48px;
  background-color:pink;
  position:absolute;
  top:50%;
  transform:translatey(-50%);
  right:0;  
}

.article-list>.main>div{
  border-top:solid 2px #d9534f;
}
.article-list>.main>div:last-child{
  border-bottom:solid 4px #d9534f;
}
.article-list>.main>div:hover{
  background-color:rgba(217,83,79,0.2);
}

.article-list>.main .article-list__cell-title{
  text-align:left;
  padding-left:10px;
}

/*게시물리스트 끝*/

/*게시물리스트 하단메뉴시작*/
.article-page-menu{
  margin-top:20px;
}
.article-page-menu>ul>li>a{
  padding:7px;
}

.article-page-menu>ul>li:not(:first-child):not(:last-child)>a{
  border:1px solid transparent;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}
.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected{
  color:#d9534f;
}

/*게시물리스트 하단메뉴끝*/


/*상세게시물 시작*/
:root{
  --article-detail__cell-board-name__width: 90px;
  --article-detail__cell-reg-date__width:220px;
  --article-detail__cell-writer__width:120px;
  --article-detail__cell-hit__width:70px;
  --article-detail__cell-recommand__width:70px;
}
.article-detail{
  padding:10px;
}
.article-detail__cell-board-name{
  padding-right:10px;
}
.article-detail__cell-writer{
  padding-right:10px;
}

.article-detail__cell-hit{
  width: var(--article-detail__cell-hit__width);
}
.article-detail__cell-recommand{
  width: var(--article-detail__cell-recommand__width);
}
.article-detail__info>div:last-child{
  text-align:center;
  position:absolute;
  right:0;
  padding-right:10px;
}
.article-detail>header{
  padding:20px 0;
  border-bottom:solid 3px rgba(0,0,0,0.2);
}
.article-detail{
  border-radius:10px;
}
.article-detail__info{
  margin-top:10px;
  position:relative;
}
.article-detail__content{
  margin:10px 0;
}

.article-detail__bottom{
  border-top:solid 3px rgba(0,0,0,0.2);
  border-bottom:solid 3px rgba(0,0,0,0.2);
  padding:10px 0;
}
.article-detail__bottom>a{
  padding:0 10px;
}


/*상세게시물 끝*/

/* youtube 동영상 삽입 시작 */

.toast-ui-youtube-plugin-wrap {
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}

.toast-ui-youtube-plugin-wrap > iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.toast-ui-youtube-plugin-wrap::before {
  content:"";
  display:block;
  padding-top:calc(100% / 16 * 9);
}

/* youtube 동영상 삽입 끝 */

/*통계 시작*/
:root{
  --article-stat__menu-totalMembersCount__width:100px;
  --article-stat__menu-totalArticlesCount__width:150px;
  --article-stat__menu-totalArticlesHit__width:170px;
  --article-stat__menu-boardArticlesCount__width:190px;
  --article-stat__menu-boardArticlesHit__width:230px;
}
.article-stat__menu-totalMembersCount {
  width:var(--article-stat__menu-totalMembersCount__width);
}
.article-stat__menu-totalArticlesCount {
  width:var(--article-stat__menu-totalArticlesCount__width);
}
.article-stat__menu-totalArticlesHit {
  width:var(--article-stat__menu-totalArticlesHit__width);
}
.article-stat__menu-boardArticlesCount {
  width:var(--article-stat__menu-boardArticlesCount__width);
}
.article-stat__menu-boardArticlesHit {
  width:var(--article-stat__menu-boardArticlesHit__width);
}
.article-stat__menu>*{
  font-size:1rem;
  font-weight:bold;
  color:#d9534f;
  height:50px;
  transition:background-color 1s, font-size 1s,color 1s, width 1s;
  border-radius:10px 10px 0 0 ; 
}

.article-stat__content > *{
  position:relative;
}

.article-stat__content>div>img{
  padding:10px 0;
  height:600px;
}
.article-stat__content>div>div>div{

  margin:20px 0;
}
.article-stat__content-totalMembersCount>div{
  font-size:2rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translatex(-50%) translatey(-25%);
  
}
.article-stat__content-totalArticlesCount>div{
  position:absolute;
  top:70%;
  left:17.5%;
  font-size:3rem;
  color:rgba(78,158,190);
}
.article-stat__content-totalArticlesHit>div{
  position:absolute;
  top:40%;
  left:32.5%;
  font-size:3rem;
  color:rgba(78,158,190);
}
.article-stat__content-boardArticlesCount>div{
  position:absolute;
  top:40%;
  left:8%;
  font-size:2rem;
  color:rgba(78,158,190);
  
}
.article-stat__content-boardArticlesHit>div{
  position:absolute;
  top:25%;
  left:8%;
  font-size:2rem;
  color:rgba(78,158,190);
}

.article-stat__info{
  height:500px;
  text-align:center;
  line-height:500px;
}

/*통계 끝*/


/*하단바 시작*/
.bottom-bar{
  margin-top:30px;
  background-color:#d9534f;
  color:white;
  padding:10px 0;
}

.bottom-bar__site-info{
  margin-left:20px;
  text-transform:uppercase;
}

.logo-mini>img{
  width:100px;
  height:40px;
  
}

/*하단바 끝*/