/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.flex {
	display: flex;
}

.flex-jc-s{
  justify-content:flex-start;
}

.flex-jc-c {
	justify-content: center;
}

.flex-ai-c {
	align-items: center;
}

.flex-column{
  flex-direction:column;
}

.flex-grow-1{
  flex-grow:1;
}

.flex-jc-a{
  justify-content:space-around;
}

.flex-jc-e{
  justify-content:flex-end;;
}


.flex-wrap{
  flex-wrap:wrap;
}

.min-height-100vh{
  min-height:100vh;
}

.min-height-45vh{
  min-height:45vh;
}
.con {
	margin-left: auto;
	margin-right: auto;
}

.height-100p {
	height: 100%;
}

.width-100p {
	width: 100%;
}

.text-align-center{
  text-align:center;
}

.block{
  display:block;
}

.none{
	display:none;
}

.hover-underline:hover{
  text-decoration:underline;
}

.bd-green {
	border: 10px solid green;
}

.bg-red {
	background-color: red;
}

.bg-blue {
	background-color: blue;
}


/* 커스텀 */
.con-min-width {
	min-width: 1200px;
  padding:0 20px;
}

.con {
	width: 1200px;
}

/* 로고 시작 */
.logo {
	font-size: 4rem;
}

.logo>span {
	margin-left: 10px;
}

/* 로고 끝 */

/* 로고바 시작 */
.logo-bar{
	background-color: black;
	color: white;
	height: 150px;
}
/* 로고바 끝 */

/*메뉴바 시작*/
.menu-bar{
  background-color:black;
  color:white;
}
/*메뉴바 끝*/

/*메뉴바 메뉴1시작*/

.menu-bar__menu-1 ul>li{
  position:relative;
}

.menu-bar__menu-1>ul>li{
  width:25%;
}

.menu-bar__menu-1 ul>li>a{
  font-size:1.2rem;
  font-weight:bold;
  padding:20px 0;
}

.menu-bar__menu-1>ul>li>a{
  border-radius:10px 10px 0 0;
}

.menu-bar__menu-1 ul>li:hover>a{
  background-color:white;
  color:black;
}

.menu-bar__menu-1>ul ul{
  display:none;
  position:absolute;
  top:100%;
  width:100%;
  left:-10px;
  border-radius:0 0 20px 20px;
  border:10px solid black;
  border-top-width:0;
  z-index:10;
}

.menu-bar__menu-1>ul>li:hover>ul{
  background-color:black;
  color:white;
  display:block;
}

.menu-bar__menu-1>ul ul>li:last-child>a{
  border-radius:0 0 10px 10px;
}

/*메뉴바 메뉴1끝*/

/*타이틀바 시작*/
.title-bar{
  margin:30px 0;
}
/*타이틀바 끝*/


/*게시물리스트 시작*/

:root{
  --article-list__cell-id__width:100px;
  --article-list__cell-reg-date__width:220px;
  --article-list__cell-writer__width:150px;
  --article-list__cell-hit__width:70px;
  --article-list__cell-recommand__width:70px;
  --article-list__cell-title__width:calc(100% - var(--article-list__cell-id__width) - var(--article-list__cell-reg-date__width) - var(--article-list__cell-writer__width) - var(--article-list__cell-hit__width) - var(--article-list__cell-recommand__width));
}
.article-list__cell-id {
  width:var(--article-list__cell-id__width);
}

.article-list__cell-reg-date{
  width:var(--article-list__cell-reg-date__width);
}

.article-list__cell-writer {
  width:var(--article-list__cell-writer__width);
}

.article-list__cell-hit {
  width:var(--article-list__cell-hit__width);
}
.article-list__cell-recommand {
  width:var(--article-list__cell-recommand__width);
}
.article-list__cell-title {
  width:var(--article-list__cell-title__width);
}
.article-list>header>div>div{
  position:relative;
}


.article-list>*>div>div{
  text-align:center;
  padding:10px 0;
  box-sizing:border-box;
}

.article-list>header>div>div::after{
  content:"";
  width:1px;
  height:20px;
  background-color:black;
  position:absolute;
  top:50%;
  transform:translatey(-50%);
  right:0;  
}

.article-list>main>div{
  border-top:solid 1px black;
}

.article-list>main .article-list__cell-title{
  text-align:left;
  padding-left:10px;
}

/*게시물리스트 끝*/

/*게시물리스트 하단메뉴시작*/
.article-page-menu{
  margin-top:20px;
}
.article-page-menu>ul>li>a{
  padding:7px;
}

.article-page-menu>ul>li:not(:first-child):not(:last-child)>a{
  border:1px solid transparent;
  padding-left:0;
  padding-right:0;
  min-width:30px;
  justify-content:center;
}
.article-page-menu > ul > li:not(:first-child):not(:last-child):hover > a {
  border-color:#afafaf;
}

.article-page-menu__link--selected{
  color:red;
}

/*게시물리스트 하단메뉴끝*/


/*상세게시물 시작*/
:root{
  --article-detail__cell-reg-date__width:220px;
  --article-detail__cell-writer__width:120px;
  --article-detail__cell-hit__width:70px;
  --article-detail__cell-recommand__width:70px;
}

.article-detail__cell-board-name{
  padding-right:10px;
}

.article-detail__cell-writer{
  padding-right:10px;
}

.article-detail__cell-hit{
  width: var(--article-detail__cell-hit__width);
}
.article-detail__cell-recommand{
  width: var(--article-detail__cell-recommand__width);
}
.article-detail__info>div:last-child{
  text-align:center;
  position:absolute;
  right:0;
  padding-right:10px;
}
.article-detail>div>header{
  padding:20px 0;
  border-top:solid 3px rgba(0,0,0,0.2);
  border-bottom:solid 3px rgba(0,0,0,0.2);
}
.article-detail__info{
  margin-top:10px;
  position:relative;
}
.article-detail__content{
  margin:10px 0;
}

.article-detail__bottom{
  border-top:solid 3px rgba(0,0,0,0.2);
  padding-top:10px;
}
.article-detail__bottom>a{
  padding:0 10px;
}


/*상세게시물 끝*/


/*하단바 시작*/
.bottom-bar{
  margin-top:30px;
  background-color:black;
  color:white;
  padding:30px 0;
}

.bottom-bar__site-info{
  margin-left:20px;
}

.logo-mini{
  font-size:3rem;
}

/*하단바 끝*/