<!-- lodash 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<!-- vue 불러오기 -->
<!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<section class="section-1 con-min-width" id="article-list-wrap" v-cloak>
	<div class="con article-list-box bg-white bd-body-box bd-box">
		<div class="article-search">
			<form class="block">
				<input @input="searchKeywordInputed" v-model="searchKeyword"
					type="text" placeholder="검색어">
			</form>
		</div>
		<div class="article-list">
			<header>
				<div class="flex">
					<div class="article-list__cell-id">번호</div>
					<div class="article-list__cell-reg-date">날짜</div>
					<div class="article-list__cell-writer">작성자</div>
					<div class="article-list__cell-title">제목</div>
					<div class="article-list__cell-hit">조회수</div>
					<div class="article-list__cell-recommand">추천수</div>
				</div>
			</header>
			<div class="main">
				<div class="flex" v-for="article in filterd">
					<div class="article-list__cell-id">{{article.id}}</div>
					<div class="article-list__cell-reg-date">{{article.regDate}}</div>
					<div class="article-list__cell-writer">{{article.writer}}</div>
					<div class="article-list__cell-title">
						<a :href="'article_detail_'+article.id+'.html'" target="_blank"
							class="hover-underline">{{article.title}}</a>
					</div>
					<div class="article-list__cell-hit">{{article.hit_count}}</div>
					<div class="article-list__cell-recommand">{{article.likes_count}}</div>
				</div>

			</div>
		</div>
	</div>
</section>

<script src="article_search.js"></script>